<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item *ngFor="let line of lines">{{line}}</ion-item>
    </ion-list>
    <ion-button (click)="takePic()">Take Picture</ion-button>
    <br/>
    <img [src]="imgSrc" />
  </div>
</ion-content>
